#obfuscated field and method names can be found in fields.csv in the gradle cache

#horseChest
public net.minecraft.entity.passive.AbstractHorse field_110296_bG

public net.minecraft.network.play.server.SPacketPlayerPosLook *

#ip
public net.minecraft.network.handshake.client.C00Handshake field_149598_b

#port
public net.minecraft.network.handshake.client.C00Handshake field_149599_c

#zLevel
public net.minecraft.client.gui.Gui field_73735_i

#pressed
public net.minecraft.client.settings.KeyBinding field_74513_e

#renderPosX
public net.minecraft.client.renderer.entity.RenderManager field_78725_b

#renderPosY
public net.minecraft.client.renderer.entity.RenderManager field_78726_c

#renderPosZ
public net.minecraft.client.renderer.entity.RenderManager field_78723_d

public net.minecraft.item.ItemStack *

#isHittingBlock
public net.minecraft.client.multiplayer.PlayerControllerMP field_78778_j

#onGround
public net.minecraft.network.play.client.CPacketPlayer field_149474_g

public net.minecraft.client.entity.EntityPlayerSP *

#orientCamera
public net.minecraft.client.renderer.EntityRenderer func_78467_g(F)V

#setupCameraTransform
public net.minecraft.client.renderer.EntityRenderer func_78479_a(FI)V

public net.minecraft.client.renderer.EntityRenderer *

public net.minecraft.client.gui.GuiScreen *

public net.minecraft.entity.Entity *

#rightclickDelayTimer
 public net.minecraft.client.Minecraft field_71467_ac

#renderQuads
public net.minecraft.client.renderer.RenderItem func_191970_a(Lnet/minecraft/client/renderer/BufferBuilder;Ljava/util/List;ILnet/minecraft/item/ItemStack;)V

public net.minecraft.world.storage.WorldInfo *

 public net.minecraft.network.play.client.CPacketUseEntity field_149566_b
 public net.minecraft.entity.Entity func_70052_a(IZ)V

#OffHand
public net.minecraft.client.renderer.ItemRenderer *

#RotationUtil
public net.minecraft.network.play.client.CPacketPlayer *


public net.minecraft.client.Minecraft * # All fields
public net.minecraft.client.Minecraft *() # All fields

